<h4 class="panel-heading has-text-centered">请注册</h4>
<%= form_with theme: nil, scope: nil, url: login_path, wrap: { input: nil, all: 'field control', submit: 'panel-block' }, id: 'join_form' do |f| %>
<% end %>
<div class="panel-block is-wrapped">
  <div class="field control">
    <%= text_field_tag :identity, params[:identity], disabled: true, form: 'join_form', class: 'input' %>
    <%= hidden_field_tag :identity, params[:identity], form: 'join_form' %>
  </div>
  <div class="field control has-addons">
    <div class="control is-expanded">
      <%= text_field_tag :token, nil, placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: false, class: 'input' %>
    </div>
    <turbo-frame class="control">
      <%= button_to({ action: 'code', identity: params[:identity] }, form: { id: 'sign_token' }, class: 'button is-info') do %>
        <span><%= t('.token') %></span>
      <% end %>
    </turbo-frame>
  </div>
  <div class="field control">
    <%= password_field_tag :password, nil, placeholder: Auth::User.human_attribute_name(:password), autocomplete: false, form: 'join_form', class: 'input' %>
  </div>
  <div class="field control">
    <%= password_field_tag :password_confirmation, nil, placeholder: Auth::User.human_attribute_name(:password_confirmation), autocomplete: false, form: 'join_form', class: 'input' %>
  </div>
</div>
<div class="panel-block">
  <%= submit_tag nil, form: 'join_form', class: 'button is-primary is-fullwidth' %>
</div>
