<h4 class="panel-heading has-text-centered">请注册</h4>
<%= form_with scope: nil, url: login_path, origin: { label: nil }, wrap: { input: nil, all: 'field control', submit: 'panel-block' } do |f| %>
  <div class="panel-block is-wrapped">
    <%= f.text_field :identity, value: params[:identity], disabled: true %>
    <%= f.hidden_field :identity, value: params[:identity] %>
    <div class="field control has-addons">
      <%= f.text_field :token, placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: false, wrap: { input: 'control is-expanded', all: nil } %>
      <turbo-frame class="control">
        <%= button_to({ action: 'code', identity: params[:identity] }, form: { id: 'sign_token' }, class: 'button is-info') do %>
          <span><%= t('.token') %></span>
        <% end %>
      </turbo-frame>
    </div>
    <%= f.password_field :password, placeholder: User.human_attribute_name(:password), autocomplete: false %>
    <%= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), autocomplete: false %>
  </div>
  <%= f.submit class: 'button is-primary is-fullwidth' %>
<% end %>
