<h4 class="panel-heading has-text-centered">请注册</h4>
<%= form_with theme: nil, scope: nil, url: { action: 'login' }, wrap: { input: nil, all: 'field control', submit: 'panel-block' } do |f| %>
  <div class="panel-block is-wrapped">
    <div class="field control">
      <%= f.text_field :identity, value: params[:identity], disabled: true, class: 'input' %>
      <%= f.hidden_field :identity, value: params[:identity], id: nil %>
    </div>
    <div class="field control has-addons">
      <div class="control is-expanded">
        <%= f.text_field :token, placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: false, class: 'input' %>
      </div>
      <div class="control" data-controller="login">
        <%= link_to({ action: 'code', identity: params[:identity] }, data: { action: 'login#link' }, class: 'button is-info') do %>
          <span><%= t('.token') %></span>
        <% end %>
      </div>
    </div>
    <div class="field control">
      <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password), autocomplete: false, class: 'input' %>
    </div>
    <div class="field control">
      <%= f.password_field :password_confirmation, placeholder: Auth::User.human_attribute_name(:password_confirmation), autocomplete: false, class: 'input' %>
    </div>
  </div>
  <div class="panel-block">
    <%= f.submit class: 'button is-primary is-fullwidth' %>
  </div>
<% end %>
