<% if params[:uid] %>
<div class="panel-block is-justify-content-center">
  <span class="is-several">
    <%= image_tag @oauth_user.avatar_url, class: 'image is-16x16' if @oauth_user.avatar_url.present? %>
    <span><%= @oauth_user.name %></span>
  </span>
</div>
<% end %>
<h4 class="panel-heading has-text-centered"><%= t('.title') %></h4>
<%= form_with scope: nil, url: { action: 'login' }, wrap: { input: 'field control' }, all: { normal: nil }, id: 'login_form', class: 'panel-block has-background-white is-wrapped' do |f| %>
  <% params.permit(:uid, :request_id).each do |key, value| %>
    <%= f.hidden_field key, value: value %>
  <% end %>
  <%= f.text_field :identity, value: params[:identity], placeholder: Auth::Account.human_attribute_name(:identity), readonly: true %>
  <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password), autocomplete: false %>
<% end %>
<div class="panel-block has-background-white is-justify-content-right">
  <%= button_to t('.token'), { controller: 'auth/sign', action: 'token_login' }, params: { identity: params[:identity] }, id: 'mobile_confirm', class: 'has-text-grey' %>
  <span>|</span>
  <%= link_to t('.forget'), { controller: 'auth/password', action: 'new' }, class: 'has-text-grey' %>
</div>
<div class="panel-block has-background-white">
  <%= submit_tag t('.save'), form: 'login_form', class: 'button is-primary is-fullwidth' %>
</div>
