<%= form_with theme: 'weui', scope: nil, url: { action: 'login' } do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <h4 class="weui-cells__title">请注册或登陆</h4>
      <div class="weui-cells weui-cells_form">
        <% params.permit(:uid, :request_id).each do |key, value| %>
          <%= f.hidden_field key, value: value, autocomplete: false %>
        <% end %>
        <%= f.text_field :identity, value: params[:identity], placeholder: Auth::Account.human_attribute_name(:identity) %>
        <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password), autocomplete: false %>
      </div>
    </div>
  </div>
  <%= f.submit '登录', wrap: { all: nil } %>
<% end %>
