<% if params[:uid] %>
<div class="justify-content-center">
  <span class="is-several">
    <%= image_tag @oauth_user.avatar_url, class: 'image is-16x16' if @oauth_user.avatar_url.present? %>
    <span><%= @oauth_user.name %></span>
  </span>
</div>
<% end %>
<h2 class="title is-2 has-text-primary mb-6"><%= t('.title') %></h2>
<h6 class="subtitle is-6 mb-6">Welcome back to <%= t('site_name') %></h6>
<%= form_with scope: nil, url: { action: 'login' }, wrap: { input: 'field control' }, all: { normal: nil }, id: 'login_form', class: 'block' do |f| %>
  <%= f.hidden_field :state, value: params[:state] %>
  <%= f.text_field :identity, value: params[:identity], placeholder: Auth::Account.human_attribute_name(:identity), readonly: true %>
  <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password), autocomplete: 'off' %>
<% end %>
<div>
  <%= button_to t('.token'), { controller: 'auth/sign', action: 'token_login' }, params: { identity: params[:identity] }, id: 'mobile_confirm', class: 'color-grey' %>
  <%= button_to t('.forget'), { controller: 'auth/password', action: 'create' }, params: { identity: params[:identity] }, class: 'color-grey is-pulled-right' %>
</div>
<div>
  <%= submit_tag t('.login'), form: 'login_form', class: 'button is-primary is-large mt-6' %>
</div>
