<div class="ui small modal" id="modal">
  <i class="fa-regular fa-times close"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
    <%= form_tag login_path, class: 'ui large form' do %>
      <%= hidden_field_tag :form_id, params[:form_id] %>
      <div class="field">
        <%= text_field_tag :identity, params[:identity], placeholder: Auth::Account.human_attribute_name(:identity) %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil, placeholder: Auth::User.human_attribute_name(:password) %>
      </div>
      <div class="field">
        <%= submit_tag 'Submit', class: 'ui button' %>
      </div>
    <% end %>
  </div>
</div>







