<h2 class="title is-2 has-text-primary mb-6"><%= t('.title') %></h2>
<%= form_with theme: nil, scope: nil, url: { action: 'token' } do |f| %>
  <div class="is-wrapped">
    <div class="field control">
      <%= f.text_field :identity, value: params[:identity], disabled: true, class: 'input' %>
      <%= f.hidden_field :identity, value: params[:identity], id: nil %>
    </div>
    <div class="field control has-addons">
      <div class="control is-expanded">
        <%= f.text_field :token, placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: 'off', class: 'input' %>
      </div>
      <div class="control" data-controller="common" id="sign_token">
        <%= link_to({ action: 'code', identity: params[:identity] }, data: { controller: 'count-down', count_down_time_value: 60, action: 'common#link' }, disabled: true, class: 'button is-info') do %>
          <span>重新发送</span>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.submit t('.login'), class: 'button is-primary is-large mt-6' %>
<% end %>
