<div class="ten wide column"></div>
<div class="six wide column">
  <div class="ui segment" style="width: 300px;">
    <h4 class="ui centered header">请注册</h4>
    <%= form_with scope: nil, url: login_path, local: @local, on: { label: nil, wrap_input: false, placeholder: true }, css: { wrap_all: 'field', submit: 'ui fluid primary button' } do |f| %>
      <%= f.text_field :identity, value: params[:identity], class: 'disabled' %>
      <div class="field">
        <div class="ui fluid action input">
          <%= f.text_field :token, placeholder: VerifyToken.human_attribute_name(:token), autocomplete: false, on: { wrap_all: false } %>
          <%= link_to t('.token'), sign_token_path, method: :post, remote: true, id: 'mobile_confirm', class: 'ui button' %>
        </div>
      </div>
      <%= f.password_field :password, placeholder: User.human_attribute_name(:password), autocomplete: false %>
      <%= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), autocomplete: false %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
