<div id="auth_form">
  <h2 class="title is-2 has-text-primary mb-6"><%= t('.title') %></h2>
  <h6 class="subtitle is-6 mb-6">Welcome to <%= t('site_name') %></h6>
  <%= form_with scope: nil, url: { action: 'sign' }, wrap: { input: 'control', submit: 'control has-text-centered' }, all: { normal: nil, required: nil, submit: nil }, before_wrap: { submit: nil }, class: 'box' do |f| %>
    <%= f.hidden_field :state, value: params[:state] %>
    <%= f.text_field :identity, value: params[:identity], placeholder: Auth::Account.human_attribute_name(:identity), required: true, autofocus: true, class: 'input' %>
    <%= f.submit t('.next'), class: 'button is-primary is-large mt-5' %>
  <% end %>
  <div class="panel-block has-background-white justify-content-space-around">
    <%= link_to({ controller: 'wechat/wechat', action: 'login' }) do %>
      <i class="fa-brands fa-weixin color-success"></i>
      <span class="color-grey">微信扫码</span>
    <% end if defined? RailsWechat %>
    <%= link_to({ controller: 'wechat/qy_wechat', action: 'login' }) do %>
      <i class="fa-brands fa-weixin has-text-primary"></i>
      <span class="color-grey">企业微信</span>
    <% end if defined? RailsWechat %>
  </div>
</div>
