<%= render 'top_bar' %>

<div class="box mx-3 p-0">
  <div class="box-cell">
    <div class="box-cell-body">
      <%= Auth::User.human_attribute_name(:avatar) %>
    </div>
    <%= link_to({ action: 'edit', item: 'image' }, class: 'box-cell-footer') do %>
      <%= image_tag @user.avatar, class: 'image is-64x64' if @user.avatar.attached? %>
    <% end %>
  </div>
  <%= link_to({ action: 'edit', item: 'name' }, class: 'box-cell') do %>
    <div class="box-cell-body">
      <%= Auth::User.human_attribute_name(:name) %>
    </div>
    <div><%= @user.name %></div>
  <% end %>
  <div class="box-cell">
    <div class="box-cell-body">
      <%= Auth::User.human_attribute_name(:accounts) %>
    </div>
    <div class="box-cell-footer">
    <% @user.accounts.each do |account| %>
      <p><%= account.identity %></p>
    <% end %>
    </div>
  </div>
</div>
