<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Join
  </div>
  <div class="content">
    <%= form_with model: @user, scope: :user, url: join_path, remote: @remote do |f| %>
      <%= render 'shared/error_messages', target: @user %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.password_field :password_confirmation, placeholder: 'Password confirm' %>
      <%= submit_tag 'submit' %>
    <% end %>
  </div>
</div>







