<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_user_tag_path(@user_tag), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= UserTag.human_attribute_name(:name) %></td>
      <td><%= @user_tag.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= UserTag.human_attribute_name(:user_tagged_count) %></td>
      <td><%= @user_tag.user_tagged_count %></td>
    </tr>
  </tbody>
</table>
