<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= UserTag.human_attribute_name(:name) %></th>
      <th><%= UserTag.human_attribute_name(:user_taggeds_count) %></th>
      <th>
        <%= link_to new_admin_user_tag_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @user_tags.each do |user_tag| %>
    <tr>
      <td><%= user_tag.name %></td>
      <td>
        <%= link_to user_tag.user_taggeds_count, admin_user_tag_path(user_tag) %>
      </td>
      <td>
        <%= link_to edit_admin_user_tag_path(user_tag), aria: { label: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_user_tag_path(user_tag), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @user_tags %>
