<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('auth.admin.user_tags.index.title'), admin_user_tags_path %></li>
    <li class="is-active"><%= @user_tag.name %></li>
  </ul>
</div>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th>
        <p><%= User.human_attribute_name(:locale) %></p>
        <p><%= User.human_attribute_name(:timezone) %></p>
      </th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th>
        <p>
          <%= link_to User.human_attribute_name(:last_login_at), filter_params('last_login_at-desc': 1, except: ['last_login_at-desc']) %>
        </p>
        <p><%= User.human_attribute_name(:last_login_ip) %></p>
      </th>
      <th><%= User.human_attribute_name(:oauth_users) %></th>
      <th>
        <%= link_to new_panel_user_path, remote: true, class: 'button is-small is-link' do %>
          <i class="fas fa-plus"></i><span><%= t('.new') %></span>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.avatar, class: 'ui avatar image' if user.avatar.present? %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <p><%= user.locale %></p>
        <p><%= user.timezone %></p>
      </td>
      <td><time><%= user.created_at.to_s(:rfc822) %></time></td>
      <td>
        <p><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></p>
        <p><%= user.last_login_ip %></p>
      </td>
      <td>
        <% user.oauth_users.each do |oauth_user| %>
          <%= link_to oauth_user.type_i18n, admin_oauth_users_path(user_id: user.id), class: 'ui blue label' %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(user), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light', remote: true do %>
          <i class="fas fa-info"></i>
        <% end %>
        <%= link_to admin_accounts_path(user_id: user.id), aria: { label: t('auth.admin.accounts.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-portrait"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
