<% if request.variant.include?(:mini_program) %>
  <div
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/profile/index"
    data-action="click->mini-program#navTo"
    class="media"
  >
    <div class="media-content">
      <i class="fa-solid fa-fw fa-user text-primary"></i>
      <span><%= t('auth.board.users.show.title') %></span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  <div
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/mobile/index"
    data-action="click->mini-program#navTo"
    class="media"
  >
    <div class="media-content">
      <i class="fa-solid fa-fw fa-mobile text-primary"></i>
      <span>手机号登录</span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
<% else %>
  <%= link_to({ controller: 'users', action: 'show' }, class: 'media') do %>
    <div class="media-content">
      <i class="fa-solid fa-fw fa-user text-primary"></i>
      <span class="pl-1"><%= t('auth.board.users.show.title') %></span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
<% end %>
<%= link_to({ controller: 'accounts' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-users text-primary"></i>
    <span class="pl-1"><%= t('auth.board.accounts.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<% if request.variant.include?(:wechat) %>
  <%= link_to({ controller: 'wechat/board/wechat_users' }, class: 'media') do %>
    <div class="media-content">
      <i class="fa-brands fa-fw fa-weixin text-primary"></i>
      <span class="pl-1"><%= t('wechat.board.wechat_users.index.title') %></span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
<% else %>
  <%= link_to({ controller: 'oauth_users' }, class: 'media') do %>
    <div class="media-content">
      <i class="fa-brands fa-fw fa-weixin text-primary"></i>
      <span class="pl-1"><%= t('auth.board.oauth_users.index.title') %></span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
<% end %>
