<table class="ui very basic table">
  <tbody>
  <% @oauth_users.each do |oauth_user| %>
    <tr>
      <td><%= oauth_user.type_i18n %></td>
      <td>
        <% if oauth_user.avatar_url %>
          <%= image_tag oauth_user.avatar_url, class: 'ui avatar image' %>
        <% end %>
        <%= oauth_user.name %>
      </td>
      <td><%= oauth_user.account&.identity %></td>
      <td class="ui labels">
        <%= link_to t('.unbind'), my_oauth_user_path(oauth_user), method: :delete, data: { confirm: t('.confirm') }, class: 'ui yellow label' %>
        <%= link_to t('.update_token'), "/auth/#{oauth_user.provider}", class: 'ui blue label' %>
      </td>
    </tr>
  <% end %>
  <% current_user.valid_providers.each do |provider| %>
    <tr>
      <td><%= provider %></td>
      <td colspan="2"></td>
      <td class="ui labels">
        <%= link_to t('.bind'), "/auth/#{provider}", class: 'ui blue label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
