<th><%= OauthUser.human_attribute_name(:type) %></th>
<th>
  <p class="has-text-success"><%= OauthUser.human_attribute_name(:uid) %></p>
  <p class="has-text-grey"><%= OauthUser.human_attribute_name(:app_id) %></p>
</th>
<th><%= OauthUser.human_attribute_name(:name) %></th>
<th><%= OauthUser.human_attribute_name(:created_at) %></th>
<th><%= OauthUser.human_attribute_name(:user) %></th>
<th></th>
