<div class="ui attached segment breadcrumb">
  <%= link_to 'Back', admin_users_path, class: 'section' %>
  <div class="divider">/</div>
  <%= link_to 'User', admin_users_path(params[:user_id]), class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Oauth Users</div>
</div>

<div class="ui top attached borderless menu">
  <div class="item">Oauth Users</div>
</div>

<% unless params[:user_id] %>
  <div class="ui attached segment">
    <%= render 'search_form' %>
  </div>
<% end %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= OauthUser.human_attribute_name(:id) %></th>
      <th><%= OauthUser.human_attribute_name(:type) %></th>
      <th><%= OauthUser.human_attribute_name(:uid) %></th>
      <th><%= OauthUser.human_attribute_name(:name) %></th>
      <th><%= OauthUser.human_attribute_name(:created_at) %></th>
      <th><%= OauthUser.human_attribute_name(:user) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @oauth_users.each do |oauth_user| %>
    <tr>
      <td><%= oauth_user.id %></td>
      <td><%= oauth_user.type %></td>
      <td><%= oauth_user.uid %></td>
      <td><%= oauth_user.name %></td>
      <td><time><%= oauth_user.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to oauth_user.user_id, admin_user_path(oauth_user.user_id) if oauth_user.user_id %>
      </td>
      <td>
        <%= link_to admin_oauth_user_path(oauth_user), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @oauth_users %>
