<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.avatar.variant(resize_to_limit: [30, 30]), class: 'image is-24x24' if model.avatar.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td>
  <p><%= model.locale %></p>
  <p><%= model.timezone %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td>
  <p><time data-controller="time"><%= model.last_login_at.to_s(:rfc822) if model.last_login_at %></time></p>
  <p><%= model.last_login_ip %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :disabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <% model.accounts.each do |account| %>
    <div>
      <%= link_to({ controller: 'accounts', user_id: model.id }, aria: { label: t('auth.panel.accounts.index.title') }) do %>
        <i class="fas fa-portrait"></i>
      <% end %>
      <span><%= account.identity %></span>
      <span class="tags">
        <% account.oauth_users.each do |oauth_user| %>
          <%= link_to oauth_user.type_i18n, { controller: 'oauth_users', identity: account.identity }, class: 'tag' %>
        <% end %>
      </span>
    </div>
  <% end %>
</td>
