<tr>
  <td>
    <%= link_to panel_user_path(user.id), remote: true do %>
      <%= image_tag user.avatar.variant(resize_to_limit: [30, 30]), class: 'image is-24x24' if user.avatar.attached? %>
      <%= user.name %>
    <% end %>
  </td>
  <td>
    <p><%= user.locale %></p>
    <p><%= user.timezone %></p>
  </td>
  <td><time><%= user.created_at.to_s(:rfc822) %></time></td>
  <td>
    <p><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></p>
    <p><%= user.last_login_ip %></p>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag '[user]disabled', nil, user.disabled, data: { method: :patch, remote: true, url: panel_user_path(user), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td>
    <% user.oauth_users.each do |oauth_user| %>
      <%= link_to oauth_user.type_i18n, admin_oauth_users_path(user_id: user.id), class: 'ui blue label' %>
    <% end %>
  </td>
  <td>
    <% user.accounts.each do |account| %>
      <p>
        <%= link_to panel_accounts_path(user_id: user.id), aria: { label: t('auth.panel.accounts.index.title') } do %>
          <i class="fas fa-portrait"></i>
        <% end %>
        <span><%= account.identity %></span>
      </p>
    <% end %>
  </td>
  <td>
    <%= link_to panel_user_path(user), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-info"></i>
    <% end %>
    <%= link_to panel_authorized_tokens_path(user_id: user.id), aria: { label: t('auth.panel.authorized_tokens.index.title') }, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-key"></i>
    <% end %>
    <%= link_to user_tags_panel_user_path(user), aria: { label: t('.tag') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-user-tag"></i>
    <% end %>
    <%= link_to "User/#{user.id}/who_roles/edit", aria: { label: t('.role') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-user-lock"></i>
    <% end %>
    <%= link_to edit_panel_user_path(user), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_user_path(user), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="icon fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
