<%= form_with theme: 'modal', model: @user, url: { action: 'update_user_tags' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= f.collection_check_boxes :user_tag_ids, @user_tags, :id, :name %>
  </section>
  <%= f.submit %>
<% end %>
