<table class="ui very basic large table">
  <thead>
  <tr>
    <th class="three wide">
      <%= form_tag my_user_path, method: :patch, id: 'edit_user' %>
      <%= link_to t('.back'), my_user_path, class: 'ui mini right floated button' %>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td>
      <div class="ui image dimmable dimmed">
        <a class="ui grey right corner label" id="avatar_button">
          <i class="photo icon"></i>
          <%= hidden_field_tag nil, nil, id: 'proxy' %>
          <%= file_field_tag :key, id: 'file_input' %>
        </a>
        <%= image_tag current_user.avatar.variant(resize_to_limit: [200, 200]), id: 'avatar_image' %>
      </div>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= User.human_attribute_name(:name) %></td>
    <td class="ui mini input six wide"><%= text_field_tag 'user[name]', @user.name, form: 'edit_user' %></td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= submit_tag t('.save'), form: 'edit_user', class: 'ui blue button' %>
    </td>
  </tr>
  </tbody>
</table>



