<%= button_to({ action: 'destroy' }, method: :delete, class: 'color-danger has-column-centered', form: { data: { turbo_confirm: t('.destroy.confirm') }, class: 'cell' }) do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('auth.board.oauth_users.unbind.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= button_to "/auth/#{@oauth_user.provider}", class: 'has-column-centered', form: { class: 'cell' } do %>
  <span><%= t('.update_token') %></span>
<% end %>
