<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:uid) %></dt>
  <dd><%= @oauth_user.uid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:appid) %></dt>
  <dd><%= @oauth_user.appid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:identity) %></dt>
  <dd><%= @oauth_user.identity %></dd>
</div>
