<table class="table is-fullwidth">
  <tbody>
  <% @oauth_users.each do |oauth_user| %>
    <tr>
      <td><%= oauth_user.type_i18n %></td>
      <td>
        <div class="is-several">
          <%= image_tag oauth_user.avatar_url, class: 'image is-24x24' if oauth_user.avatar_url %>
          <span><%= oauth_user.name %></span>
        </div>
      </td>
      <td><%= oauth_user.account&.identity %></td>
      <td>
        <%= link_to t('.unbind'), { controller: 'auth/board/oauth_users', action: 'destroy', id: oauth_user.id }, method: :delete, data: { confirm: t('.confirm') }, class: 'button is-warning' %>
        <%= link_to t('.update_token'), "/auth/#{oauth_user.provider}", class: 'button is-success' %>
      </td>
    </tr>
  <% end %>
  <% current_user.valid_providers.each do |provider| %>
    <tr>
      <td><%= provider %></td>
      <td colspan="2"></td>
      <td>
        <%= link_to t('.bind'), "/auth/#{provider}", class: 'button is-info' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
