<%= form_with theme: nil, scope: nil, url: { action: 'join' } do |f| %>
  <%= f.hidden_field :uuid, value: @verify_token.uuid %>
  <div class="field control">
    <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password), autocomplete: 'off', class: 'input' %>
  </div>
  <div id="password_confirm" class="field control">
    <%= f.password_field :password_confirmation, placeholder: Auth::User.human_attribute_name(:password_confirmation), autocomplete: 'off', class: 'input' %>
  </div>
  <%= f.submit t('auth.sign.join.title'), class: 'button is-primary is-medium is-fullwidth mt-2' %>
<% end %>
