<td>
  <span class="tag <%= ['Wechat::ProgramUser'].include?(model.type) ? 'is-link' : 'is-info' %>"><%= model.type_i18n %></span>
  <p class="family-monospace">
    <span><%= model.app_name %></span>
    <span><%= model.appid %></span>
  </p>
</td>
<td>
  <p class="family-monospace"><%= link_to model.uid, { uid: model.uid }, class: 'text-success' %></p>
  <p class="family-monospace">
  <% if model.unionid %>
    <%= link_to model.unionid, { unionid: model.unionid, class: 'text-grey' } %>
  <% end %>
  </p>
</td>
<td>
  <div class="is-several">
    <%= image_tag model.avatar_url, class: 'image is-24x24' if model.avatar_url.present? %>
    <span><%= model.name %></span>
  </div>
  <p class="text-grey"><%= model.identity %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
<% if model.user %>
  <%= button_to({ controller: 'users', action: 'show', id: model.user.id }, text: true) do %>
    <i class="fa-regular fa-user"></i>
    <span class="ml-1"><%= model.user.name %></span>
  <% end %>
  <p class="text-grey"><%= link_to model.user.name, { user_id: model.user_id } %></p>
<% end %>
</td>
