<th>
  <p class="color-success"><%= Auth::OauthUser.human_attribute_name(:uid) %></p>
  <p class="color-grey"><%= Auth::OauthUser.human_attribute_name(:appid) %></p>
</th>
<th><%= Auth::OauthUser.human_attribute_name(:name) %></th>
<th><%= Auth::OauthUser.human_attribute_name(:created_at) %></th>
<th><%= Auth::OauthUser.human_attribute_name(:user) %></th>
<th></th>