<td><%= model.type_i18n %></td>
<td>
  <p class="has-text-success"><%= model.uid %></p>
  <p class="has-text-grey"><%= model.appid %></p>
</td>
<td>
  <%= image_tag model.avatar_url, class: 'image is-24x24' if model.avatar_url.present? %>
  <%= model.name %>
</td>
<td><time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time></td>
<td><%= link_to model.user_id, panel_user_path(model.user_id) if model.user_id %></td>
