<%= form_for @user, url: join_path, html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', target: @user %>
  <div class="field">
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Password confirm' %>
  </div>
  <div class="field">
    <%= submit_tag 'submit', class: 'ui button' %>
  </div>
<% end %>
