<div class="ui top attached borderless menu">
  <div class="header item">Users</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'Add New', new_admin_user_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= User.human_attribute_name(:name) %></th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Created At</th>
    <th>Last Login At</th>
    <th>Disable</th>
    <th>Oauth Users</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
        <% if user.avatar.attached? %>
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.avatar.variant(resize: '35x35'), class: 'ui avatar image' %>
          <% end %>
        <% else %>
          <%= link_to admin_user_path(user.id) do %>
            <%= image_tag 'default_avatar.jpg', size: '35x35', class: 'ui avatar image' %>
          <% end %>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.mobile %></td>
      <td><time><%= user.updated_at.to_s(:rfc822) %></time></td>
      <td><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></td>
      <td>
        <%= form_tag toggle_admin_user_path(user), method: :patch do %>
          <span class="ui toggle checkbox">
            <label></label>
            <%= check_box_tag :disabled, 1, user.disabled, onChange: 'this.form.submit()', id: nil %>
          </span>
        <% end %>
      </td>
      <td class="ui blue labels">
        <% user.oauth_users.each do |oauth_user| %>
          <%= link_to oauth_user.type, admin_oauth_users_path(user_id: user.id), class: 'ui label' %>
        <% end %>
      </td>
      <td class="ui labels">
        <%= link_to 'Show', admin_user_path(user), class: 'ui blue label' %>
        <%= link_to 'Edit', edit_admin_user_path(user), class: 'ui pink label' %>
        <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>