<td>
  <p><%= model.token %></p>
  <p><time data-controller="time"><%= model.expire_at.to_s(:rfc822) %></time></p>
</td>
<td><%= model.session_key %></td>
<td>
  <%= model.oauth_user_id %>
</td>
<td><%= model.identity %></td>
<td><%= model.user_id %></td>
