<tr>
  <td class="has-text-right"><%= Auth::AuthorizedToken.human_attribute_name(:id) %></td>
  <td><%= @authorized_token.id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Auth::AuthorizedToken.human_attribute_name(:expire_at) %></td>
  <td><%= @authorized_token.expire_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Auth::AuthorizedToken.human_attribute_name(:uid) %></td>
  <td><%= @authorized_token.uid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Auth::AuthorizedToken.human_attribute_name(:identity) %></td>
  <td><%= @authorized_token.identity %></td>
</tr>
