<ul class="breadcrumb">
  <li><%= link_to '个人首页', user_path %></li>
  <li class="active">编辑账户</li>
  <li class="pull-right"><%= link_to '我的主页', person_path(current_user) %></li>
</ul>

<div class="row">

<div class="col-md-3">
  <%= render "/member/nav" %>
</div>

<div class="col-md-9">
<%= form_for @user, url: the_auth.user_path, html: { class: "well form-horizontal" } do |f| %>

  <div class="form-group">
    <%= f.label :email, 'E-mail', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-5"><%= f.email_field :email, :class => 'form-control' %></div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
      <%= f.submit "确认", :class => 'btn btn-default btn-lg' %>
    </div>
  </div>
<% end %>
</div>

</div>