<div class="ui grid page">
<div class="sixteen wide column">

<%= form_for @user, :url => user_path, :html => {:class=> "ui form segment"} do |f| %>

  <div class="inline field">
    <%= f.label :email, "邮箱：", :class => "six wide field" %>
    <%= f.email_field :email, :class => "nine wide field" %>
  </div>

  <div class="inline field">
    <%= f.label :password, "密码：", class: "six wide field" %>
    <%= f.password_field :password, class: "nine wide field" %>
  </div>

  <div class="inline field">
    <%= f.label :password_confirmation, "密码确认：", :class => "six wide field" %>
    <%= f.password_field :password_confirmation, :class => "nine wide field" %>
  </div>

  <div class="inline field">
    <label class="six wide field"></label>
    <%= submit_tag '注册', class: 'ui button' %>
  </div>

<% end %>

</div>
</div>



