<%= link_to({ controller: 'auth/board/accounts' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-users"></i>
    <span><%= t('auth.board.accounts.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>

<%= link_to({ controller: 'profiled/my/profiles', action: 'qrcode' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= t('profiled.my.profiles.qrcode.title') %></div>
  <div class="weui-cell__ft">
    <i class="fa-solid fa-qrcode"></i>
  </div>
<% end %>

<%= link_to({ controller: 'profiled/my/profiles', action: 'show' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= t('profiled.my.profiles.show.title') %></div>
  <div class="weui-cell__ft"></div>
<% end %>

<%= link_to({ controller: 'trade/my/carts', action: 'list' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">
    <span class="has-text-grey has-text-weight-normal">切换</span>
  </div>
<% end %>

<div
  data-controller="mini-program"
  data-mini-program-url-value="/pages/print/config/index"
  data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
  data-action="click->mini-program#link"
  class="weui-cell weui-cell_access"
>
  <div class="weui-cell__bd">
    <span><%= '设置打印机' %></span>
  </div>
  <div class="weui-cell__ft"></div>
</div>
