<%= link_to({ controller: 'auth/board/accounts' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-users"></i>
    <span><%= t('auth.board.accounts.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: '/auth/sign', action: 'logout' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-right-from-bracket has-text-warning-dark"></i>
    <span><%= t('auth.sign.logout.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<div
  data-controller="mini-program"
  data-mini-program-url-value="/pages/print/config/index"
  data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
  data-action="click->mini-program#link"
  class="weui-cell weui-cell_access"
>
  <div class="weui-cell__bd">
    <span><%= '设置打印机' %></span>
  </div>
  <div class="weui-cell__ft"></div>
</div>
