<h2 class="title is-2 text-centered text-primary mb-4"><%= t('.title') %></h2>
<h6 class="subtitle text-centered is-6 mb-4"><%= t('.subtitle') %></h6>
<%= form_with theme: nil, scope: nil, url: { action: 'password' }, id: 'join_form' do |f| %>
  <%= f.hidden_field :state, value: params[:state] %>
  <div class="field control">
    <%= f.text_field :identity, placeholder: Auth::Account.human_attribute_name(:identity), autofocus: true, autocomplete: 'off', class: 'input' %>
  </div>
  <div class="field control has-addons">
    <div class="control is-expanded">
      <%= f.text_field :token, placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: 'off', class: 'input' %>
    </div>
    <div class="control" id="sign_token">
      <button
        type="button"
        data-controller="common"
        data-common-url-value="<%= url_for(action: 'code') %>"
        data-common-body-value="identity"
        data-action="common#streamFormPost"
        class="button is-light"
      >
        <span><%= t('auth.sign.code.title') %></span>
      </button>
    </div>
  </div>
  <%= f.submit t('auth.sign.join.title'), class: 'button is-primary is-medium is-fullwidth mt-2' %>
<% end %>
