<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_auth_my_account_path(@account), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Account.human_attribute_name(:account) %></td>
      <td><%= @account.account %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Account.human_attribute_name(:confirmed) %></td>
      <td><%= @account.confirmed %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Account.human_attribute_name(:primary) %></td>
      <td><%= @account.primary %></td>
    </tr>
  </tbody>
</table>
