<h3 class="ui dividing header">
  账号管理
</h3>

<table class="ui very basic table">
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td></td>
      <td><%= account.identity %></td>
      <td>
        <% if account.primary %>
          <label class="ui green label">Primary</label>
        <% end %>
      </td>
      <td>
        <% if account.confirmed %>
          <label class="ui green label">Confirmed</label>
        <% else %>
          <label class="ui red label">待验证</label>
          <%= link_to '发送验证码', confirm_my_account_path(account.id) %>
        <% end %>
      </td>
      <td>
        <% if account.can_login_organ? %>
          <%= link_to 'Org', login_my_organ_path(account.member.organ_id), method: :patch %>
        <% end %>
      </td>
      <td>
        <% unless account.primary %>
          <%= link_to my_account_path(account), method: :delete, data: { tooltip: t('.destroy'), confirm: '删除后此账号无法用于登陆' }, class: 'ui red mini icon button' do %>
            <i class="times icon"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= form_tag my_accounts_path, method: :post, id: 'add_account' %>
    </td>
    <td class="six wide">
      <div class="ui fluid input">
        <%= text_field_tag 'account[identity]', nil, placeholder: '账号：', form: 'add_account' %>
      </div>
    </td>
    <td>
      <%= submit_tag '添加', form: 'add_account', class: 'ui button' %>
    </td>
    <td colspan="3">
    
    </td>
  </tr>
  </tbody>
</table>
