<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Login
  </div>
  <div class="content">
    <%= form_tag login_path, class: 'ui large form', remote: @remote do %>
      <%= hidden_field_tag :form_id, params[:form_id] %>
      <div class="field">
        <%= text_field_tag :login, params[:login], placeholder: 'Email or Mobile' %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
      </div>
      <div class="field">
        <%= submit_tag 'Submit', class: 'ui button' %>
      </div>
    <% end %>
  </div>
</div>







