<div class="ui top attached menu borderless">
  <div class="item"><strong>我的账号</strong></div>
  <div class="right menu">
    <div class="item">
    </div>
  </div>
</div>

<table class="ui bottom attached table">
  <tbody>
  <% @oauth_users.each do |oauth_user| %>
    <tr>
      <td><%= oauth_user.provider %></td>
      <td><%= oauth_user.uid %></td>
      <td><%= oauth_user.access_token %></td>
      <td><%= link_to '解绑', my_oauth_user_path(oauth_user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td>
        <%= link_to 'update token', "/auth/#{oauth_user.provider}", class: 'ui blue button' %>
      </td>
    </tr>
  <% end %>
  <% current_user.oauth_providers.each do |provider| %>
  <tr>
    <td><%= provider %></td>
    <td></td>
    <td><%= link_to '绑定', "/auth/#{provider}", class: 'ui blue button' %></td>
    <td></td>
  </tr>
  <% end %>
  </tbody>
</table>


