<table class="table is-fullwidth">
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td>
        <div class="ui toggle checkbox inverted <%= account.primary ? 'disabled green label' : 'label' %>">
          <%= check_box_tag '[account]primary', nil, account.primary, data: { method: :patch, remote: true, url: my_account_path(account), submit: true }, id: nil %>
          <label><%= t('.primary') %></label>
        </div>
      </td>
      <td>
        <span><%= account.identity %></span>
        <% if account.confirmed %>
          <label class="ui green icon label"><i class="fas fa-check-circle"></i></label>
        <% else %>
          <label class="ui yellow icon label"><i class="fas fa-question-circle"></i></label>
        <% end %>
      </td>
      <td>
        <% unless account.confirmed %>
          <label class="ui red label">待验证</label>
          <%= link_to '发送验证码', confirm_my_account_path(account.id) %>
        <% end %>
      </td>
      <td>
        <% unless account.primary %>
          <%= link_to my_account_path(account), method: :delete, aria: { label: t('.destroy'), confirm: '删除后此账号无法用于登陆' }, remote: true, class: 'ui circular icon button' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= form_with url: my_accounts_path, method: :post, id: 'add_account' %>
    </td>
    <td>
      <%= text_field_tag 'account[identity]', nil, placeholder: Account.human_attribute_name(:identity), form: 'add_account', class: 'input' %>
    </td>
    <td>
      <%= submit_tag '添加', form: 'add_account', class: 'button is-primary' %>
    </td>
    <td colspan="3">

    </td>
  </tr>
  </tbody>
</table>
