<td>
  <p><strong><%= model.identity %></strong></p>
  <p class="has-text-grey"><span><%= model.uid %></span></p>
  <p><code class="is-wrap"><%= model.id %></code></p>
  <p>
    <time data-controller="time" class="has-text-grey"><%= model.created_at.to_fs(:iso8601) %></time>
    <span>~</span>
    <time data-controller="time" class="<%= model.expired? ? 'has-text-danger' : 'has-text-success' %>"><%= model.expire_at.to_fs(:iso8601) %></time>
  </p>
</td>
<td>
<% if model.online %>
  <i class="fa-solid fa-circle has-text-success"></i>
<% else %>
  <i class="fa-solid fa-circle has-text-grey"></i>
<% end %>
</td>
