<th>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:identity) %></p>
  <p class="text-grey"><%= Auth::AuthorizedToken.human_attribute_name(:uid) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:id) %></p>
</th>
<th>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:user_id) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:member_id) %></p>
</th>
<th>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:created_at) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:expire_at) %></p>
</th>
<th>
  <p class="text-success"><%= Auth::AuthorizedToken.human_attribute_name(:online_at) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:offline_at) %></p>
</th>
