<td>
  <%= link_to({ controller: 'users', action: 'show', id: model.user_id }, data: { turbo_frame: 'modal', turbo_scroll: true }, text: true) do %>
    <i class="fa-solid fa-user"></i>
    <span class="pl-1"><%= model.user.name %></span>
  <% end if model.user %>
</td>
<td><%= model.type_i18n %></td>
<td><%= model.identity %></td>
<td>
<% if model.confirmed %>
  <i class="fa-solid fa-check color-success"></i>
<% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
