<th><%= Auth::User.human_attribute_name(:name) %></th>
<th>
  <p><%= Auth::User.human_attribute_name(:locale) %></p>
  <p><%= Auth::User.human_attribute_name(:timezone) %></p>
</th>
<th><%= Auth::User.human_attribute_name(:created_at) %></th>
<th>
  <p>
    <%= link_to Auth::User.human_attribute_name(:last_login_at), filter_params('last_login_at-desc': 1, except: ['last_login_at-desc']) %>
  </p>
  <p><%= Auth::User.human_attribute_name(:last_login_ip) %></p>
</th>
<th><%= Auth::User.human_attribute_name(:disabled) %></th>
<th><%= Auth::User.human_attribute_name(:accounts) %></th>
<th>权限</th>
