<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.avatar_url, class: 'image is-24x24' if model.avatar_url.present? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td>
  <p><%= model.locale %></p>
  <p><%= model.timezone %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <p><time data-controller="time"><%= model.last_login_at&.to_fs(:iso8601) %></time></p>
  <p><%= model.last_login_ip %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :disabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
<% model.accounts.each do |account| %>
  <p>
    <%= link_to({ controller: 'accounts', user_id: model.id }, aria: { label: t('auth.panel.accounts.index.title') }) do %>
      <i class="fa-regular fa-portrait"></i>
    <% end %>
    <span><%= account.identity %></span>
    <span class="tags">
      <% account.oauth_users.each do |oauth_user| %>
        <%= link_to oauth_user.type_i18n, { controller: 'oauth_users', identity: account.identity }, class: 'tag' %>
      <% end %>
    </span>
  </p>
<% end %>
</td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= link_to({ controller: 'roled/admin/who_roles', action: 'show', who_type: model.class_name, who_id: model.id }, aria: { label: t('.role') }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-regular fa-user-lock"></i>
    <% end %>
  </div>
</td>
