<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= UserTagged.human_attribute_name(:user_id) %></th>
      <th>
        <%= link_to({ action: 'new', user_tag_id: @user_tag.id }, { class: 'button is-small is-link' }) do %>
          <i class="fa-solid fa-plus"></i>
          <span class="pl-1"><%= t('.new') %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @user_taggeds.each do |user_tagged| %>
    <tr>
      <td><%= user_tagged.user.name %></td>
      <td>
        <%= link_to admin_user_tag_user_tagged_path(@user_tag, user_tagged), method: :delete, aria: { label: t('.destroy') }, data: { turbo_confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @user_taggeds %>
