<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('auth.admin.user_tags.index.title'), admin_user_tags_path %></li>
    <li><%= link_to @user_tag.name, admin_user_tags_path(id: @user_tag.id) %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= UserTagged.human_attribute_name(:tagged_type) %></th>
      <th><%= UserTagged.human_attribute_name(:tagged_id) %></th>
      <th>
        <%= link_to new_admin_user_tag_user_tagged_path(@user_tag), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @user_taggeds.each do |user_tagged| %>
    <tr>
      <td><%= user_tagged.tagged_type %></td>
      <td><%= user_tagged.tagged_id %></td>
      <td>
        <%= link_to edit_admin_user_tagged_path(user_tagged), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_user_tagged_path(user_tagged), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @user_taggeds %>
