<%= form_with theme: 'search', model: Auth::OauthUser.new(params.permit(:name, :uid, :appid)) do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <%= f.text_field :uid %>
    <%= f.text_field :appid %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:name, :uid, :appid, :user_id]), class: 'button is-light' %>
    </div>
  </div>
<% end %>


