<td>
<% if model.user %>
  <%= link_to model.user.name, { controller: 'users', action: 'show', id: model.user_id }, text: true %>
<% end %>
</td>
<td><%= model.type_i18n %></td>
<td><%= model.identity %></td>
<td>
  <%= form_with theme: nil, model: model, scope: :account, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :confirmed, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
    <%= f.submit nil, data: { input_target: 'submit' }, style: 'display: none' %>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :account, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :primary, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
    <%= f.submit nil, data: { input_target: 'submit' }, style: 'display: none' %>
  <% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
