<tr>
  <td><%= Auth::Account.human_attribute_name(:user_id) %></td>
  <td><%= @account.user_id %></td>
</tr>
<tr>
  <td><%= Auth::Account.human_attribute_name(:type) %></td>
  <td><%= @account.type_i18n %></td>
</tr>
<tr>
  <td><%= Auth::Account.human_attribute_name(:identity) %></td>
  <td><%= @account.identity %></td>
</tr>
<tr>
  <td><%= Auth::Account.human_attribute_name(:confirmed) %></td>
  <td><%= @account.confirmed %></td>
</tr>
<tr>
  <td><%= Auth::User.human_attribute_name(:verify_tokens) %></td>
  <td>
    <%= render 'auth/panel/users/verify_tokens', target: @account %>
  </td>
</tr>
