<%= form_with theme: 'search', model: User.new do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <%= f.text_field 'accounts.identity' %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:id, :name, 'accounts.identity']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
