<%= search_form_with model: User.new(params.permit(:name)) do |f| %>
  <div class="fields">
    <%= f.text_field :name %>
    <%= f.text_field :mobile %>
    <%= f.text_field :email %>
    <%= f.submit %>
  </div>
<% end %>


