<div class="ui top attached borderless menu">
  <div class="header item">Users</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'Add New', new_admin_user_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th>
        <p><%= User.human_attribute_name(:mobile) %></p>
        <p><%= User.human_attribute_name(:email) %></p>
      </th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th>
        <p><%= User.human_attribute_name(:last_login_at) %></p>
        <p><%= User.human_attribute_name(:last_login_ip) %></p>
      </th>
      <th><%= User.human_attribute_name(:disabled) %></th>
      <th><%= User.human_attribute_name(:oauth_users) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.avatar, class: 'ui avatar image' if user.avatar.attached? %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <p><%= user.mobile %></p>
        <p><%= user.email %></p>
      </td>
      <td><time><%= user.created_at.to_s(:rfc822) %></time></td>
      <td>
        <p><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></p>
        <p><%= user.last_login_ip %></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[user]disabled', nil, user.disabled, data: { method: :patch, remote: true, params: "[user]disabled=#{!user.disabled}", url: admin_user_path(user), submit: true }, id: nil %>
        </div>
      </td>
      <td class="ui blue labels">
        <% user.oauth_users.each do |oauth_user| %>
          <%= link_to oauth_user.type, admin_oauth_users_path(user_id: user.id), class: 'ui label' %>
        <% end %>
      </td>
      <td class="ui labels">
        <%= link_to admin_user_path(user), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_user_path(user), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_user_path(user), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>
