<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th>
        <p><%= User.human_attribute_name(:locale) %></p>
        <p><%= User.human_attribute_name(:timezone) %></p>
      </th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th>
        <p>
          <%= link_to User.human_attribute_name(:last_login_at), filter_params('last_login_at-desc': 1, except: ['last_login_at-desc']) %>
        </p>
        <p><%= User.human_attribute_name(:last_login_ip) %></p>
      </th>
      <th><%= User.human_attribute_name(:disabled) %></th>
      <th><%= User.human_attribute_name(:oauth_users) %></th>
      <th><%= User.human_attribute_name(:accounts) %></th>
      <th>
        <%= link_to new_admin_user_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to admin_user_path(user.id), remote: true do %>
          <%= image_tag user.avatar_url, class: 'image is-24x24' if user.avatar_url.present? %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <p><%= user.locale %></p>
        <p><%= user.timezone %></p>
      </td>
      <td><time><%= user.created_at.to_s(:rfc822) %></time></td>
      <td>
        <p><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></p>
        <p><%= user.last_login_ip %></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[user]disabled', nil, user.disabled, data: { method: :patch, remote: true, url: admin_user_path(user), submit: true }, id: nil %>
        </div>
      </td>
      <td class="ui labels">
        <% user.oauth_users.each do |oauth_user| %>
          <%= link_to oauth_user.type_i18n, admin_oauth_users_path(user_id: user.id), class: 'ui blue label' %>
        <% end %>
      </td>
      <td>
        <% user.accounts.each do |account| %>
          <p>
            <%= link_to admin_accounts_path(user_id: user.id), aria: { label: t('auth.admin.accounts.index.title') } do %>
              <i class="fas fa-portrait"></i>
            <% end %>
            <span><%= account.identity %></span>
          </p>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(user), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-eye"></i>
        <% end %>
        <%= link_to admin_authorized_tokens_path(user_id: user.id), aria: { label: t('auth.admin.authorized_tokens.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-key"></i>
        <% end %>
        <%= link_to user_tags_admin_user_path(user), aria: { label: t('.tag') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-user-tag"></i>
        <% end %>
        <%= link_to "User/#{user.id}/who_roles/edit", aria: { label: t('.role') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-user-lock"></i>
        <% end %>
        <%= link_to edit_admin_user_path(user), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_user_path(user), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="icon fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>
