<div class="ui segment breadcrumb">
  <%= link_to t('.back'), admin_users_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section"><%= t('.show') %></div>
</div>

<div class="ui very relaxed divided list segment">
  <div class="item"><%= @user.name %></div>
  <div class="item"><%= @user.email %></div>
  <div class="item"><%= @user.mobile %></div>
  <div class="item"></div>
</div>