<div class="ui segment breadcrumb">
  <%= link_to t('.back'), admin_users_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section"><%= t('.show') %></div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= User.human_attribute_name(:name) %></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= User.human_attribute_name(:avatar) %></td>
      <td><%= image_tag @user.avatar, class: 'ui small image' %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= User.human_attribute_name(:email) %></td>
      <td>
        <%= @user.email %>
        <%= @user.email_confirmed %>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= User.human_attribute_name(:mobile) %></td>
      <td><%= @user.mobile %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= User.human_attribute_name(:mobile) %></td>
      <td><%= @user.mobile %></td>
    </tr>
  </tbody>
</table>
