<h2 class="title is-2 text-centered text-primary mb-6"><%= t('.title') %></h2>
<h6 class="subtitle is-6 mb-6">Welcome back to <%= t('site_name') %></h6>
<%= form_with scope: nil, url: { action: 'login' }, wrap: { input: 'field control' }, all: { normal: nil }, id: 'login_form', class: 'block' do |f| %>
  <%= f.hidden_field :state, value: params[:state] %>
  <%= f.text_field :identity, placeholder: Auth::Account.human_attribute_name(:identity), id: nil, autofocus: true %>
  <%= f.password_field :password, placeholder: Auth::User.human_attribute_name(:password) %>
<% end %>
<div>
  <%= link_to t('auth.sign.token_login.title'), { controller: 'auth/sign', action: 'token_login' }, id: 'mobile_confirm', class: 'text-grey' %>
  <%= link_to t('auth.password.create.title'), { controller: 'auth/password', action: 'new' }, class: 'text-grey is-pulled-right' %>
</div>
<div>
  <%= submit_tag t('auth.sign.login.title'), form: 'login_form', class: 'button is-primary is-medium is-fullwidth mt-2' %>
</div>
<p class="text-centered mt-4">
  <span>还没有账号？</span>
  <%= link_to t('auth.sign.join_new.title'), { action: 'join_new' } %>
</p>
