<th>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:identity) %></p>
  <p class="has-text-grey"><%= Auth::AuthorizedToken.human_attribute_name(:uid) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:id) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:expire_at) %></p>
  <p><%= Auth::AuthorizedToken.human_attribute_name(:session_key) %></p>
</th>
