<%= default_form_for [:admin, @user] do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <div class="inline fields">
    <%= f.label :avatar %>
    <div class="six wide field">
    <%= f.file_field :avatar, direct_upload: true, on: { wrapper_all: false, wrapper_input: false }, label: false %>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, size: '30x30' %>
    <% end %>
    </div>
  </div>
  <%= f.text_field :mobile %>
  <%= f.text_field :password %>
	<%= f.check_box :disabled %>
  <%= f.submit %>
<% end %>