<%= search_form_for :q do |f| %>
  <div class="fields">
  <%= f.text_field :name, placeholder: 'Input Name' %>
  <%= f.text_field :mobile, placeholder: 'Input Mobile' %>
  <%= f.text_field :email, placeholder: 'abc@123.com' %>
  <%= f.submit 'Search' %>
  </div>
<% end %>


