<div>

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Users</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <%= link_to 'Add New', new_admin_user_path, class: 'ui teal button' %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Created At</th>
      <th>Last Login At</th>
	    <th>Disable</th>
      <th>Oauth Users</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
        <td><time><%= user.updated_at.to_s(:rfc822) %></time></td>
        <td><time><%= user.last_login_at.to_s(:rfc822) if user.last_login_at %></time></td>
	      <td>
          <%= form_tag toggle_admin_user_path(user), method: :patch do %>
            <span class="ui toggle checkbox">
              <label></label>
              <%= check_box_tag :disabled, 1, user.disabled, onChange: 'this.form.submit()', id: nil %>
            </span>
          <% end %>
        </td>
        <td class="ui blue labels">
          <% user.oauth_users.each do |oauth_user| %>
            <%= link_to oauth_user.type, admin_oauth_users_path(user_id: user.id), class: 'ui label' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', admin_user_path(user), class: 'ui blue label' %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: 'ui pink label' %>
          <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
</div>