<div class="sixteen wide column">
  <div class="ui breadcrumb">
    <%= link_to '返回', admin_users_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">详细</div>
  </div>
</div>

<div class="three wide column">
  <%= render 'nav' %>
</div>

<div class="thirteen wide column">

  <div class="ui very relaxed divided list segment">
    <div class="item"><%= @user.name %></div>
    <div class="item"><%= @user.email %></div>
    <div class="item"><%= @user.mobile %></div>
    <div class="item"></div>
  </div>

</div>


