<div class="item" data-controller="menu">
  <a class="<%= active_helper(modules: 'auth/admin', active_class: 'active', item_class: '') %>">
    <i class="fas fa-users fa-fw"></i>
    <span><%= t('auth.admin.title') %></span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(modules: 'auth/admin', active_class: 'menu content active', item_class: 'menu content') %>">
    <%# link_to 'User Panel', panel_admin_users_path, class: active_helper(paths: panel_admin_users_path) %>
    <%= link_to t('auth.admin.users.index.title'), admin_users_path, class: active_helper('users': ['index', 'show']) %>
    <%= link_to t('auth.admin.accounts.index.title'), admin_accounts_path, class: active_helper(controllers: 'accounts') %>
    <%= link_to t('auth.admin.oauth_users.index.title'), admin_oauth_users_path, class: active_helper(controllers: 'oauth_users') %>
    <%= link_to t('auth.admin.user_tags.index.title'), admin_user_tags_path, class: active_helper(controllers: 'user_tags') %>
  </div>
</div>
