<div class="ui small modal" id="modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
    <%= form_tag login_path, class: 'ui large form', local: @local do %>
      <%= hidden_field_tag :form_id, params[:form_id] %>
      <div class="field">
        <%= text_field_tag :account, params[:account], placeholder: 'Email or Mobile' %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
      </div>
      <div class="field">
        <%= submit_tag 'Submit', class: 'ui button' %>
      </div>
    <% end %>
  </div>
</div>







