
<h4 class="ui block top attached header">请登录</h4>


<%= form_tag user_session_path, class: 'ui attached form segment' do %>

  <div class="inline fields">
    <%= label_tag :login, '账号：', class: 'four wide field' %>
    <%= text_field_tag :login, nil %>
  </div>

  <div class="inline fields">
    <%= label_tag :password, '密码：', class: 'four wide field' %>
    <%= password_field_tag :password, nil %>
  </div>

  <div class="inline fields">
    <label class="four wide field"></label>
    <%= submit_tag '登陆', class: 'ui button' %>
  </div>

<% end %>





